<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Custom Tweet Checker</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<link rel="stylesheet" href="../static/assets/css/about.css"/>
		<li><a href="customtweetchecker.html">Custom Tweet Checker</a></li>
		<style>
blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}
			</style>

		<!-- <style> #three {background-color: blueviolet; color:red;} </style> -->
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">Disaster Tweet Recognition</a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">Model</a></li>
					<li><a href="about2.html">Team Bio</a></li>
					<li><a href="tweetchecker.html">Tweet Checker</a></li>
					<li><a href="customtweetchecker.html">Custom Tweet Checker</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p style="color:beige!important; opacity: .5;">Test the Nueral Network</p>
						<h2>Custom Tweet Checker</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
		<section id="three" class="wrapper style2" text-align: center;>
			

			<form method="POST">
				<input name="text">
				<input type="submit">
			</form>


			<!-- <a class="twitter-timeline" width="5000" href="https://twitter.com/elonmusk" data-tweet-limit="20" data-width="399" ></a>
<script async src="http://platform.twitter.com/widgets.js" charset="utf-8" ></script> -->
<!-- <blockquote class="twitter-tweet"><p lang="und" dir="ltr"><a href="https://t.co/8lpvwbeC4R">pic.twitter.com/8lpvwbeC4R</a></p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1288935356310552576?ref_src=twsrc%5Etfw">July 30, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
		

<!-- <blockquote class="twitter-tweet"><p lang="und" dir="ltr"><a href="https://t.co/8lpvwbeC4R">pic.twitter.com/8lpvwbeC4R</a></p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1288935356310552576?ref_src=twsrc%5Etfw">July 30, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet"><p lang="und" dir="ltr"><a href="https://t.co/8lpvwbeC4R">pic.twitter.com/8lpvwbeC4R</a></p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1288935356310552576?ref_src=twsrc%5Etfw">July 30, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
<!-- ########################################### -->
<!-- <table>
  <tr>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td><blockquote class="twitter-tweet"><p lang="en" dir="ltr">InSight sol 595 (2020-07-29) low -91.9ºC (-133.5ºF) high -12.9ºC (8.7ºF)<br>winds from the WNW at 7.0 m/s (15.6 mph) gusting to 18.2 m/s (40.7 mph)<br>pressure at 7.90 hPa <a href="https://t.co/rMQ37iuRqB">pic.twitter.com/rMQ37iuRqB</a></p>&mdash; Mars Weather (@MarsWxReport) <a href="https://twitter.com/MarsWxReport/status/1289242234232045568?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></td>
    <td><img src="../static/images/Ryan.jpg" alt="" /></td>
  </tr>
  <tr>

    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>

    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>

    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table> -->

<style>

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 16px;
  font-size: 32px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
  
}

#tableRow {

	text-align: center;
	vertical-align: middle;
	font-size:50px;

}

#Home {background-color: #00acee;}
#News {background-color: #00acee;}
#Contact {background-color: #00acee;}
#About {background-color: #00acee;}

</style>


<button class="tablink" onclick="openPage('Home', this, 'gray')">AP</button>
<button class="tablink" onclick="openPage('News', this, 'gray')" id="defaultOpen">News</button>
<button class="tablink" onclick="openPage('Contact', this, 'gray')">Contact</button>
<button class="tablink" onclick="openPage('About', this, 'gray')">About</button>



	  <form action="#" method="post">
	<p>Name:</p>
	<p><input type="text" name="nm" /></p>
	<p><input type="submit" value="submit"/></p>
	<p>{{userInput}}</p>
</form>



<div>
	<table>
		<tr>
		   <th>Contact</th>
		  <th>Country</th>
		</tr>
		<tr>
		  <td>
			<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap1}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		  </td>

		  <td><p id="tableRow">{{ch1}}</p></td>
		</tr>
		<tr>
		  <td>
			<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap2}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		  </td>
		<td><p id="tableRow">{{ch2}}</p></td>
		</tr>
		<tr>
		<td>
			<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap3}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</td>
		  <td><p id="tableRow">{{ch3}}</p></td>
		</tr>
		<tr>
		<td>
			<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap4}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</td>
		  <td><p id="tableRow">{{ch4}}</p></td>
		</tr>
		<tr>
			<td>
				<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap5}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</td>
		  <td><p id="tableRow">{{ch5}}</p></td>
		</tr>
		<tr>
			<td>
				<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap6}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			</td>
		  <td><p id="tableRow">{{ch6}}</p></td>
		</tr>
		<tr>
			<td>
				<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap7}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			</td>
		  <td><p id="tableRow">{{ch7}}</p></td>
		</tr>
		<tr>
			<td>
				<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap8}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			</td>
		  <td><p id="tableRow">{{ch8}}</p></td>
		</tr>
		<tr>
			<td>
				<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap9}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			</td>
		  <td><p id="tableRow">{{ch9}}</p></td>
		</tr>
		<tr>
			<td>
				<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap10}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			</td>
		  <td><p id="tableRow">{{ch10}}</p></td>
		</tr>
		<tr>
			<td>
				<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap11}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			</td>
		  <td><p id="tableRow">{{ch11}}</p></td>
		</tr>
		<tr>
			<td>
				<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap12}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			</td>
		  <td><p id="tableRow">{{ch12}}</p></td>
		</tr>
		<tr>
			<td>
				<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap13}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			</td>
		  <td><p >{{ch13}}</p></td>
		</tr>
		<tr>
			<td>
				<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap14}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			</td>
		  <td><p id="tableRow">{{ch14}}</p></td>
		</tr>
		<tr>
			<td>
				<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap15}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			</td>
		  <td><p id="tableRow">{{ch15}}</p></td>
		</tr>
		<tr>
			<td>
				<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap16}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			</td>
		  <td><p id="tableRow">{{ch16}}</p></td>
		</tr>
		<tr>
			<td>
				<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap17}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			</td>
		  <td><p id="tableRow">{{ch17}}</p></td>
		</tr>
		<tr>
			<td>
				<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap18}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			</td>
		  <td><p id="tableRow">{{ch18}}</p></td>
		</tr>
		<tr>
			<td>
				<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap19}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			</td>
		  <td><p id="tableRow">{{ch19}}</p></td>
		</tr>
		<tr>
			<td>
				<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Aliens built the pyramids obv</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/{{ap20}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			</td>
		  <td><p id="tableRow">{{ch20}}</p></td>
		</tr>

	  </table>
	</div>

<script>


function openPage(pageName, elmnt, color) {
  // Hide all elements with class="tabcontent" by default */
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Remove the background color of all tablinks/buttons
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }

  // Show the specific tab content
  document.getElementById(pageName).style.display = "block";

  // Add the specific color to the button used to open the tab content
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

</script>

<!-- <div>

	<div style="float: left; width: 50%">
	
		<blockquote class="twitter-tweet"><p lang="und" dir="ltr"><a href="https://t.co/8lpvwbeC4R">pic.twitter.com/8lpvwbeC4R</a></p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1288935356310552576?ref_src=twsrc%5Etfw">July 30, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	
	</div>

	<div style="float: left; width: 50%">
	
		<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Hold my beer <a href="https://t.co/IK3tT1x4wP">pic.twitter.com/IK3tT1x4wP</a></p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1287796199014244355?ref_src=twsrc%5Etfw">July 27, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>			
	
	</div> -->

	





		</section>
		
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>