<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Disaster or Not? NLP with Disaster Tweets</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/assets/css/main.css" type="text/css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Disaster Tweet Recognition</a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">Model</a></li>
					<li><a href="about2.html">Team Bio</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="../static/images/yosh-ginsu-qexZLgMcbPc-unsplash.jpg" alt="" /> <!-- Photo by Yoshi Ginsu on Unsplash https://unsplash.com/@yoshginsu?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText-->
					<div class="inner">
						<header>
							<p>A Natural Language Processing Algorithm by <a href="https://github.com/gpolavaram0/cwrubootcampfinalproject" target="_blank">Twitter NLP</a></p>
							<h2 style="font-size: 92px;">Disaster Tweet Recognition</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="../static/images/andrea-ferrario-7SP-NotqFrE-unsplash.jpg" alt="" /> <!--Photo by Andrea Ferrario on Unsplash https://unsplash.com/@andreaferrario?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText-->
					<div class="inner">
						<header>
							<p>Learn About the Team behind the project.</p>
							<h2><a href="about2.html">Team Bio</a></h2>
						</header>
					</div>
				</article>
				<article>
					<img src="../static/images/joanne-francis-S9NQnIV4zOI-unsplash.jpg"  alt="" /> <!--Phto by Joanne Francis on Unsplash https://unsplash.com/@nipawinnews?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText-->
					<div class="inner">
						<header>
							<p>Learn about the Project</p>
							<h2><a href='about.html'>Model Page</a></h2>
						</header>
					</div>
				</article>
				<!-- <article>
					<img src="images/slide04.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Adipiscing lorem ipsum feugiat sed phasellus consequat</p>
							<h2>Etiam feugiat</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slide05.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Ipsum dolor sed magna veroeros lorem ipsum</p>
							<h2>Lorem adipiscing</h2>
						</header>
					</div>
				</article> -->
			</section>

			<!-- Two -->
			<section id="two" class="wrapper style3"> <!--Photo by Marc Szeglat on Unsplash https://unsplash.com/@marcszeglat?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText-->
				<div class="inner">
					<header class="align-center"> 
						<p>Find out more about the Model</p>
						<h2><a href="about.html" style="color:#ffffff;">Model Page</a></h2>
					</header>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="../static/images/nikolas-noonan-n_3kdpSkrJo-unsplash.jpg" alt="" /> <!--Photo by Nikolas Noonan on Unsplash https://unsplash.com/@nikolasnoonan?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText-->
								</div>
								<div class="content">
									<header class="align-center">
										<p>Learn more about the team behind the Algorithm</p>
										<h2>Team Bio</h2>
									</header>
									<p>	This algorithm didn't build itself, find out more about the people who spend countless hours working to perfect this project. Links are provided for you to explore their Githubs and Linkedins.</p>
									<footer class="align-center">
										<a href="about2.html" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="../static/images/repository-main.png" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Explore the algorithm and data</p>
										<h2>Repository</h2>
									</header>
									<p> Go to the Github repository housing the files used to create this algorithm as well as the algorithm itself. Use the README in the repository to help you navigate the repository to the files you are interested in.</p>
									<footer class="align-center">
										<a href="https://github.com/gpolavaram0/cwrubootcampfinalproject" class="button alt" target="_blank">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
				</div>
				<div class="copyright">
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>