
<form action="#" method="post">
	<p>Name:</p>
	<p><input type="text" name="nm" /></p>
	<p><input type="submit" value="submit"/></p>
</form>
<!-- <p id = "infobox" style="background-color:powderblue;">{{content}}</p> -->
<script>
function myFunction() {
	var x = 7;

</script>
<h1><var>x</var></h1>
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">InSight sol 595 (2020-07-29) low -91.9ºC (-133.5ºF) high -12.9ºC (8.7ºF)<br>winds from the WNW at 7.0 m/s (15.6 mph) gusting to 18.2 m/s (40.7 mph)<br>pressure at 7.90 hPa <a href="https://t.co/rMQ37iuRqB">pic.twitter.com/rMQ37iuRqB</a></p>&mdash; Mars Weather (@MarsWxReport) <a href="https://twitter.com/MarsWxReport/status/{{content}}?ref_src=twsrc%5Etfw">July 31, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>